.container{
    padding: 0px !important;
    overflow-y: hidden;
    overflow-x: hidden;


    .devtext{
        width: 40%;
    }

    .devimg{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 60%;
        height: 100%;
        box-sizing: border-box;

        img{
            position: relative;
            height: 500px;
            width: 100%;
             object-fit: cover;
        }



    }

    
    .slidingtext{
        position: absolute;
        font-size: 30vh;
        bottom: -50px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
        pointer-events: none; 
    }

}